[Unit]
Description=Cosmic Server
After=network.target

Wants=mysql.service
After=mysql.service

[Service]
WorkingDirectory=/home/ubuntu/app/Cosmic

ExecStart=/usr/bin/java -Xmx2048m -Dwz-path=/home/ubuntu/app/MapleStory -Dwz-mode=binary -Dwz-locale=zh-CN -DremoteAssets.root=/home/ubuntu/app/private-assets -jar ./target/Cosmic.jar /etc/cosmic/config.yaml

User=ubuntu

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
